@import url(https://fonts.googleapis.com/css?family=DM+Sans);

body {
    font-family: DM Sans;
}

.c-text-small {
    font-size: small;
}

.c-text-small-title {
    font-weight: bold;
    font-size: small;
}

.c-text-title {
    font-weight: bold;
}

.c-white-container {
    background-color: white;
}

.c-text-bold {
    font-weight: bold;
}

