@use './common/padding';
@use './common/constants' as *;

.parentContainer {
    max-width: $max-container-width;
}

.salonName {
    color: black;
    font-size: 32px;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 38px;
}

.smallText {
    font-size: 0.9em;
}

.paddedText {
    @include padding.horizontalXXSmall;
}

.fixedBottom {
    position: fixed;
    bottom: 0;
    max-width: $max-container-width;
    left: 50%;
    transform: translateX(-50%);
}

.bottom {
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;

    text-align: center; 
    background: #3669C9; 
    color: white; 
    font-size: 14px; 
    font-family: DM Sans; 
    font-weight: 500; 
    line-height: 20px; 
}

.footer {
    background-color: white;
    border-top: #E0E0E0 1px solid;
}